
<footer class="mt-5">
<!-- 		<div class="footer_level_content">
			<ul>
				<li>About Us</li>
				<li style="border-left: 1px solid #ccc; border-right: 1px solid #ccc;">Terms of Use</li>
				<li><strong>Privacy Policy</strong></li>
				<li style="border-left: 1px solid #ccc; border-right: 1px solid #ccc;" >Location Based Services Terms and Conditions</li>
				<li>Broker site</li>
			</ul>
		</div> -->
		<div class="footer_level_content">
			<label>조선홀덤은 다음지도 API로 수집되어 만들어진 사이트이며</label><br>
			<label>대한민국 텍사스홀덤바 위치 정보를 공유하는 서비스 입니다.</label><br><br>
			<label>상호 : 조선홀덤 </label><br>
			<label>도메인 : 조선홀덤.com</label><br>
			<!-- <label>Welcome to 조선홀덤 2019</label><br> -->
		</div>


		<div class="footer_level_content">
			<img src="assets/images/fbicon.png">
			<img src="assets/images/yticon.png">
			<img src="assets/images/blogicon.png">
			<img src="assets/images/navericon.png">
		</div>

		<div class="footer_level_content">
			<small style="color: #aaa;">Welcome to 조선홀덤 2019</small>
		</div>


	</footer>