<footer>

	<div class="container">
		
		<div class="footer-holder">
			
			<div class="comp-text">
				<p>About Us Terms of Use Privacy Policy Location Based Services Terms and Conditions Broker site</p>
				<br>
				<p>
					Company Name: Contact Us | Business Registration Number: 120-87-61559
				</p>
				<p>
					Address: 7th floor of SC First Bank Headquarters Building, Jongno 47, Jongno-ro 47, Jongno-gu, Seoul
				</p>
				<p>
					(03160)
				</p>
				<p>
					Fax: 02-568-4908 |
				</p>
				<p>
					Telecom Sales Representation No .: 2015- Jongno-0834, Seoul
				</p>
				<p>
					Contact Us: 1661-8734 | Email: cs@zigbang.com | Service Affiliate Inquiry: partnership@zigbang.com
				</p>
					<div class="footer-img">
						<img src="assets/images/fbicon.png">
						<img src="assets/images/yticon.png">
						<img src="assets/images/blogicon.png">
						<img src="assets/images/navericon.png">
					</div>
				<p>
					Copyright © Baclea-an Joemar. All Rights Reserved.
				</p>

			</div>

		</div>

	</div>

</footer>