<!DOCTYPE html>
<html>
<head>

	<title>MAPS</title>
	 <% include partials/header %>
</head>
<body>
  	<% include partials/navigation %>

  	
  	<div class="content_holder">


        <div class="maps_search">
            <form action="maps" method="POST">
                <div class="search_box" style="width: 100%;">
                    <img src="assets/images/searchicon.png">
                    <input type="text" name="placeSearch" placeholder="원하시는 지역을 입력해주세요" style="width: 64%;">
                    <button id="search_place" style="width: 100px;  border: none;">찾아보기</button>
                </div> 
            </form>
            <button class="btn btn-secondary" style="width: 100%; border-radius: 0;">다른방식으로 검색하기</button>
        </div>


  		<div id="web-maps" data-loc="<% if (typeof place_search != 'undefined') { %><%=place_search%>"><% } -%>">
  		
  		</div> <!-- end web-maps -->


  		<div class="web-listing-area">
	
  		</div> <!-- end web-listing-area -->

  	</div> <!-- end content_holder -->

  	
  	
  	<% include partials/footer %>
</body>
<script type="text/javascript" src="./assets/js/websocket.js"></script>
<script type="text/javascript" src="./assets/js/script.js"></script>
<script type="text/javascript" src="./assets/js/emailValidate.js"></script>
<script type="text/javascript" src="./assets/js/map_script.js" ></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=caf8fd666b92b96a683d22a584997032&libraries=services,clusterer,drawing"></script>
</html>