<!DOCTYPE html>
<html>
<head>
  <title>HOME</title>
   <% include mobile_partials/header %>
</head>
<body>
    <% include mobile_partials/navigation %>

      <button style="width: 100%;" class="btn btn-dark mb-1" id="show_method">게임 메뉴</button>

      <div class="mobile_menu" style="height: 0; overflow: hidden;">
        <a href="gameMethod?type=game1"><div class="m_menu_link">블랙잭</div></a>
        <a href="gameMethod?type=game2"><div class="m_menu_link">바카라</div></a>
        <a href="gameMethod?type=game3"><div class="m_menu_link">룰렛</div></a>
        <a href="gameMethod?type=game4"><div class="m_menu_link">빅휠</div></a>
        <a href="gameMethod?type=game5"><div class="m_menu_link">다이사이</div></a>
        <a href="gameMethod?type=game6"><div class="m_menu_link">캐리비안스터드포커</div></a>
        <a href="gameMethod?type=game7"><div class="m_menu_link">카지노워</div></a>
        <a href="gameMethod?type=game8"><div class="m_menu_link">텍사스홀덤</div></a>
        <a href="gameMethod?type=game9"><div class="m_menu_link">쓰리카드포커</div></a>
        <div class="clear"></div>
      </div>


      <div class="content_moblie_cat_holder">
        <div class="mobile_cat_holder cat_active g-navs-intro">게임소개</div>
        <div class="mobile_cat_holder g-navs-progress">게임진행</div>
        <div class="mobile_cat_holder g-navs-rules">게임규칙</div>
        <div class="mobile_cat_holder g-navs-video">Youtube</div>
        <div class="clear"></div>
      </div>


        <div class="g-navs-content g-intro" style="display: block;">
            <% if (typeof data != 'undefined') { -%>
                                        
                <% var resLen = data.length;
                    if (resLen > 0) { %>       
                        <%- data[0]['con1']%>
                <% } %>
            <% } -%>

        </div>

        <div class="g-navs-content g-progress">
            <% if (typeof data != 'undefined') { -%>
                                        
                <% var resLen = data.length;
                    if (resLen > 0) { %>       
                        <%- data[0]['con2']%>
                <% } %>
            <% } -%>
        
        </div>

        <div class="g-navs-content g-rules">
            <% if (typeof data != 'undefined') { -%>
                                        
                <% var resLen = data.length;
                    if (resLen > 0) { %>       
                        <%- data[0]['con3']%>
                <% } %>
            <% } -%>
        </div>


        <div class="g-navs-content g-video">
          <% if (typeof data != 'undefined') { -%>
                                      
              <% var resLen = data.length;
                  if (resLen > 0) { %>    
                  <iframe src="<%= data[0]['video']%>" style="width: 100%; height: 670px; border: none;"></iframe>   
                      
              <% } %>
          <% } -%>
           
        </div>
  
    <% include mobile_partials/footer %>
</body>

<script type="text/javascript">

  var click_menu = false;
  $('#show_method').click(function(){

    if (click_menu) {

      click_menu = false;
      $('.mobile_menu').animate({
          'height' : '0'
        },500);

    } else {
      click_menu = true;
      $('.mobile_menu').animate({
          'height' : '180px'
        },500);
   
    }


  });



  $('.mobile_cat_holder').click(function(){
    $('.mobile_cat_holder').removeClass('cat_active')
    $(this).addClass('cat_active');

  })
</script>
<script type="text/javascript" src="./assets/js/websocket.js"></script>
<script type="text/javascript" src="./assets/js/script.js"></script>
<script type="text/javascript" src="./assets/js/emailValidate.js"></script>
</html>