<!DOCTYPE html>
<html>
<head>
  <title>MAPS</title>
   <% include mobile_partials/header %>
</head>
<body>
    <% include mobile_partials/navigation %>



    
    <div class="content_holder">

        <div id="web-maps" data-loc="<% if (typeof place_search != 'undefined') { %><%=place_search%><% } -%>">
        
        </div> <!-- end web-maps -->

        <div class="search_holder">
          <form action="maps" method="POST">
            <div class="search_box">
                <img src="assets/images/searchicon.png">
                <input type="text" name="placeSearch" placeholder="원하시는 지역을 입력해주세요 ">
                <button id="search_place">찾아보기</button>
              </div> 
         </form>   
        </div>

      <div class="web-listing-area mb-4">
      </div>
      <div class="clear"></div>




    </div> <!-- end content_holder -->

    
    
    <% include mobile_partials/footer %>
</body>
<script type="text/javascript" src="./assets/js/websocket.js"></script>
<script type="text/javascript" src="./assets/js/script.js"></script>
<script type="text/javascript" src="./assets/js/emailValidate.js"></script>
<script type="text/javascript" src="./assets/js/map_script.js" ></script>
</html>