.login{
	float: right;
	width: 120px;
	text-align: center;
}

.navbar-toggler:focus {
	outline: none;
}


.search_box {
	z-index: 15;
	/*width: 90%;*/
	max-width: 350px;
	width: 95%;
	background: white;
	height: 60px;
	border:solid 3px #ffa409;
	text-align: left;
	margin: auto;
	/*overflow: hidden;*/
	white-space: nowrap;
}

.search_box img {
	height: 30px;
	width: 30px;
	margin-left: 5px;
	margin-top: -5px;
}

.search_box input {
	height: 90%;
	width: 66%;
	border:none;
	font-size: 10px;
	font-weight: 600;
}

.search_box input:focus {
	outline: none;
}

.search_box button {
	background: #ffa409;
	height: 100%;
	width: 22%;
	border : none;
	font-size: 12px;
	font-weight: 600;

}


.login a{
	float: right;
	width: 50%;
	font-size: 0.7em;
	padding: 0;
}


.navbar-toggler{
	font-size: 20px;
}
.clear{
	clear: both;
	display: block;
	content: "";
}
.navbar{
	background: white;
}
.navbar a{
	color: black;
}
.content{
	background: url('../images/bannerimg.png');
	width: 100%;
	background-repeat: no-repeat;
	height: 500px;
	background-position: center;
	background-size: cover;
	position:relative;
}
.banner-gradient{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 10;
	background: rgba(0,0,0,0.5);
	padding-top: 300px;
}

.footer-holder{
	text-align: center;
}
.comp-image img{
	width: 100%;
}

footer{
	background: #f5f5f5;
	padding: 2rem;
}
.footer-holder img{
	width: 35px;
}
.comp-image{
	padding: 10px;
	padding-left: 0;
	padding-right: 0;
}
.comp-text{
	padding: 10px;
	width: 100%;
	font-size: 10px;
}
.title{
	border-bottom: 1px solid #ccc;
	padding: 1rem;
}
.description{
	padding: 0.5em;
	font-size: 12px;
	font-weight: 600;
	border-bottom: 1px solid #eee;
}
.btn{
	float: right;
}
.title h5{
	float: left;
	font-size: 15px;
	font-weight: 900;
	margin: 0;
	margin-top: 10px;
}




/*content3.php*/
.event-content{

border: 1px solid #ccc;
width: 95%;
margin: auto;
margin-top: 20px;
margin-bottom: 20px;
padding: 10px;


}

.event-content a{
	font-size: 10px;
	text-decoration: none;
	color: black;
}


.event-title{
	border-bottom: 2px solid #ccc;
	padding: 0.3rem;
	width: 95%;
	margin: auto;
	padding-left: 0;
	padding-right: 0;
}
.event-header{
	border-bottom: 2px solid black;
	padding: 1rem;
	padding-right: 0;
	padding-left: 0;
	width: 100%;
}
.content-description{
	padding: 1.5rem;
}


/*login*/

.login-holder{
	margin-top: 150px;
	padding-bottom: 100px;
	text-align: center;
}
.title-login{
	padding-bottom: 30px;
}

input{
	width: 90%;
}
.pass-form input{
	width: 90%;
}
.email-form{
	padding-bottom: 10px;
}
.pass-form{
	padding-bottom: 10px;
}
.login-btn{
	width: 44%;
	height: 50px;
}
.button-holder{
	padding-top: 30px;
}

/*register*/
.reg-form{
	padding-bottom: 10px;
}


.reg-form input{
	padding: 5px;
}








#web-maps {
	height: 70vh;
	width: 100%;
}

#content_holder {
	padding: 20px;
	border:1px solid #ccc;
	margin: 10px;
	border-radius: 5px;
	display: none;
}


.author_image_holder {
	text-align: center;
}
.author_img {
	width: 40%;
	border-radius: 100%;
}

.web-listing-area-footer a {
	float: left;
	width: 50%;
}


.web-listing-area-footer img {
	width: 100%;
}

.author_info th , td {
	font-size: 12px;
	font-weight: 600;
	padding: 10px!important;
	margin: 10px!important;
	border-bottom: 1px solid #eee;
}

.author_info {
	margin-bottom: 10px;
}

.defaultview {
	width: 48%;
	float: left;
	padding: 10px;
	border:1px solid #ccc;
	border-radius: 5px;
	margin: 2px;
}

.author_contents {
	border:1px solid #eee;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 5px;
}
.view_img {
	text-align: center;
	margin-bottom: 10px;
}
.view_img img {
	width: 50%;
	border-radius: 100%;
}

.view-info th,td,label{
	font-size: 12px;
	font-weight: 600;
	padding: 0!important;
	margin: 0!important;
}

.default_btn {
	margin-top: 10px;
	width: 100%;
}

.search_holder {
	margin-top: 10px;
	margin-bottom: 10px;
}